<%
	local sys  = require "luci.sys"
	local http = require "luci.http"
	local disp = require "luci.dispatcher"

	local hostname = sys.hostname()

	local request  = disp.context.path
	local request2 = disp.context.request

	local category = request[1]
	local cattree  = category and disp.node(category)

	local leaf = request2[#request2]

	local tree = disp.node()
	local node = disp.context.dispatched

	local categories = disp.node_childs(tree)

	local c = tree
	local i, r
-%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%=luci.i18n.context.lang%>" lang="<%=luci.i18n.context.lang%>">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<link rel="stylesheet" type="text/css" media="screen" href="<%=media%>/todaair.css" />
<!--[if IE 6]><link rel="stylesheet" type="text/css" media="screen" href="<%=media%>/ie6.css" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" type="text/css" media="screen" href="<%=media%>/ie7.css" /><![endif]-->
<!--[if IE 8]><link rel="stylesheet" type="text/css" media="screen" href="<%=media%>/ie8.css" /><![endif]-->
<% if node and node.css then %><link rel="stylesheet" type="text/css" media="screen" href="<%=resource%>/<%=node.css%>" />
<% end -%>
<script type="text/javascript" src="<%=resource%>/xhr.js"></script>



  <link rel="shortcut icon" href="<%=media%>/favicon.ico"/>
<script type="text/javascript" src="<%=media%>/artDialog.js"></script>
<script type="text/javascript" src="<%=media%>/iframeTools.js"></script>



<title><%=striptags( hostname .. ( (node and node.title) and ' - ' .. translate(node.title) or '')) %> - LuCI</title>
</head>
<body class="lang_<%=luci.i18n.context.lang%>">



 <header>
   <div class="fill">
    <div class="nav-container">
     <span class="brand"><img  class="brand-img" src="<%=resource%>/icons/todaair-logo.png"/></span>
	 <p class="top_menu" >
			<!--<span class="spotbar"><input type="text" name="autocomplete" id="autocomplete" class="spot" placeholder='<%:Please input function%>' /></span>-->
			<span class="menu-bottom">
			<a href="#" id="system_statue"><%:Sysytem Status%></a>
			<span class="pipe">|</span>
			<a href="#" id="system_changepwd"><%:Change Password%></a>
			<!--<span class="pipe">|</span>
			<a href="#" id="setting_guide"><span class="icon"><img src="<%=resource%>/icons/tunnel.png"></img></span><%:Setup wizard%></a>-->
			<span class="pipe">|</span>
			<a href="<%=REQUEST_URI%>/admin/logout"><%:Logout%></a>
			</span>
	</p>
    </div>
   </div>
   </header>
	<div id="shadow">
	<!--ÎªÒõÓ°Ô¤Áô 2014-1-1 @Todaair -->
	</div>


<div id="maincontent" class="container">
<script type="text/javascript" >
function changePwd(){
	document.getElementById("system_changepwd").onclick=function (){
		art.dialog.open('<%=REQUEST_URI%>/admin/changepassword', { id: 'memdiv', width: 900, height: 400, title: '<%:Change Password%>',lock:true,drag:false });
	};
}
function sysStatus(){
	document.getElementById("system_statue").onclick=function (){
		art.dialog.open('<%=REQUEST_URI%>/admin/status/overview', { id: 'memdiv', width: 900, height: 570, title: '<%:Sysytem Status%>',lock:true,drag:false });
	};
}
</script>
